$blue: #0984E3;
$green: #00CEC9;
$gray: #DFE6E9;
$yellow: #FDCB6E;
$light-yellow: lighten($yellow, 20%);
$black: #2D3436;

// $blue: #1142FF;
// $green: #83FBD5;
// $gray: #eeeeee;
// $yellow: #FDF25C;
// $black: #181818;