.site-header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: relative;
  z-index: 99;

  .logo {
    font-family: 'IBM Plex Mono', monospace;
    color: $black;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
  }

  .nav-link {
    text-decoration: none;
    color: $black;
    margin-left: 2.5rem;
    font-weight: 400;
    transition: color .2s ease-in-out;

    &:hover {
      color: $yellow;
    }
  }
}