.hero {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__content {
    transform: rotate(-5deg);
    color: $black;
  }

  &__headline {
    font-size: 4.2rem;
    font-weight: 200;
  }

  &__kicker {
    display: inline;
    color: $yellow;
  }
}