.btn {
  font-family: 'IBM Plex Mono', monospace;
  display: inline-block;
  padding: .5rem 2rem;
  background-color: transparent;
  color: $black;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  border: 2px solid $black;
  transition: all .2s ease-in-out;
  transition-property: background-color;

  &:hover {
    background-color: $black;
    color: #fff;
    animation-name: heartBeat;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
  }

  &--center {
    display: block;
    width: 290px;
    margin: 0 auto;
    border: 2px solid $yellow;

    &:hover {
      background-color: $yellow;
    }
  }
}